   
   /* Accent color: #4D5AE5 
    Main color: #434455 slat
    Second color: #2E2F42 navy blue */

   :root {
    --iris-color: #4D5AE5;
    --navy-blue-color: #2E2F42;
    --slat-color: #434455;
   }
   
          
            
    body {
        background-color: #FFF;
        color: #434455;  
    }

    a {
        text-decoration: none;
    }

    ul {list-style-type: none;
    }

/* Hrader */

.logo{
    color: var(--navy-blue-color);
}

.logo:focus,
.logo:hover {
    color: var(--iris-color);
}

.text-web{
    color: var(--iris-color)
}

.site-nav .link {
    color: var(--navy-blue-color)
}

.site-nav .link:focus,
.site-nav .link:hover {
color: var(--iris-color);
}

.adress .link {
    color: var(--slat-color);
}

.adress .link:focus,
.adress .link:hover {
    color: var(--iris-color);
}

/* Section hero */

.hero {
    background-color: var(--navy-blue-color);
}

h1 {
    color:white
}


/* < !-- Section 1 (Our Values)--> */

.section-title {
    color: var(--navy-blue-color);
}

.section-list h3 {
    color: var(--navy-blue-color);
}


/* < !-- Section 2 (Our Team) --> */