   
   /* Accent color: #4D5AE5 
    Main color: #434455 slat
    Second color: #2E2F42 navy blue 
   */

   /* Fonts::
   Main ff: font-family: Roboto 400 500 700 (fs normal all)
   Second ff: font-family: Raleway 700  (fs normal all)
   */

   

   :root {
    --iris-color: #4D5AE5;
    --navy-blue-color: #2E2F42;
    --slat-color: #434455;
    --cloud-color: #F4F4FD;
    
   }
   
          
            
    body {
        color: #434455;
        background-color: #FFF;
        font-family: 'Roboto', sans-serif;
        line-height: 1.5;
                          
    }

    a {
        text-decoration: none;
        color: var(--slat-color);
        
    }

    ul {
        list-style-type: none;
    }



/* Header */

/* Logo */

.logo{
    color: var(--navy-blue-color);

    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.54px;

}

.logo:focus,
.logo:hover{
    color: var(--iris-color);
}

.text-web{
    color: var(--iris-color)
}

/* Site-nav */

.site-nav .link {
    color: var(--navy-blue-color);
    
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.32px;
}

.site-nav .link:focus,
.site-nav .link:hover {
    color: var(--iris-color);
}

.adress .link{
    color: var(--slat-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.32px;
}

.adress .link:focus,
.adress .link:hover {
    color: var(--iris-color);
}

/* Section hero */

.hero {
    background-color: var(--navy-blue-color);
}

.hero-title {
    color:white;
    
    font-size: 56px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 1.12px;
    text-align: center;
}

/* Button */

.button {
    color: white;
    background-color: var(--iris-color);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    
}

.button:focus,
.button:hover {
    color: var(--iris-color);
    background-color: #fff;
}

/* < !-- Section 1 (Our Values)--> */

.section-title {
    color: var(--navy-blue-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.section-list h3 {
    color: var(--navy-blue-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.section-list p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
}


/* < !-- Section 2 (Our Team) --> */

.section-team {
    background-color: var(--cloud-color);
}

.section-list {
    background-color: #fff;
}

/* Section 3 (Portfolio) */


.portfolio > a:focus,
.portfolio > a:hover
 {
    color: var(--iris-color);
   
}


/* < !-- Footer --> */

.footer {
    background-color: var(--navy-blue-color);
    }

.text-studio,
.footer-text{
    color: var(--cloud-color);
}

.text-studio:focus,
.text-studio:hover {
    color: var(--iris-color);
    }

    .footer-text{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.32px;
    }
